ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav {
    border: 1px solid transparent;
    background-color: #424239;
}

header {
    width: 100%;
    box-sizing: border-box; 
}


.navigation li {
    border: 1px solid transparent; 
    border-radius: 10px; 
    margin-right: 10px; 
    padding: 5px 10px; 
}

.navigation li a {
    display: block; 
    padding: 5px 10px; 
    color: black; 
    text-decoration: none; 
    background-color: #f8f8f6;
    border-radius: 5px
}

/* .navigation li a:hover {
    background-color: #333084; 
    color: #000; 
} */


.navigation .active a {
    color: rgb(31, 36, 106); 
    font-weight: bold;
    background-color: #c0c3bc;
    padding: 10px 10px;
    border-radius: 5px

}


.skip-link {
    position: absolute;
    left: -999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

.skip-link:focus, 
.skip-link:active {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 9999;
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    text-decoration: none;
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.grid-item img {
    max-width: 100%; 
    margin-bottom: 10px;
    width: 400px;
}

.grid-item p {
    width: 400px;
}

section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

h1 {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 700; 
  }

h2 {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold
  }


img {

    width: 300px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px;
    display: block;
}


video {
    max-width: 100%;
    height: auto;
    display: block;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0
}

.jump-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px;
    background-color: #516c88;
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    z-index: 100; 
    opacity: 0.8
}

.jump-to-top:hover {
    background-color: #6fa0d5; 
    opacity: 1
}

html {
    scroll-behavior: smooth;
}

@media (min-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 20px;
    }

    .grid-item img {
        width: 320px;
    }
    
    .grid-item p {
        width: 320px;
    }

    .navigation {
        display: flex;
        width: 100%;
    }

    .navigation li {
        flex: 1; 
        margin: 0;
    }

    h3 {
        font-size: 18px;
        font-family: sans-serif;
      }

    .navigation li a {
        display: block;
        background-color: #e9e9e4; 
        color: black; 
        text-align: center;
        padding: 15px 0 15px; 
        border-radius: 5px;
    }

    .navigation .active a {
        color: rgb(249, 245, 245); 
        font-weight: bold;
        background-color: #405991;
        padding: 15px 0px;
        border-radius: 5px
    
    }


}

@media (min-width: 1200px) {

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        padding: 20px;
    }

    .grid-item img {
        width: 400px;
        max-width: 400px;
        height: auto;
    }
    
    .grid-item p {
        width: 400px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      }
      

}
